<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deklaracja do wydruku</title>
</head>
<body>
   <h1>Deklaracja do wydruku</h1>
   <p>Imię i nazwisko: <%= dane.imie %> <%= dane.nazwisko %></p>
   <p>Przedmiot: <%= dane.przedmiot %></p>
   <h2>Punkty:</h2>
   <% for(let task in dane.tasks)
   {%>
    <p>Zadanie <%= parseInt(task)+1%>: <%= dane.tasks[task]%></p>
   <% }%> 
</body>
</html>